@font-face {
    font-family: 'Assistant';
    src: url("fonts/Assistant/Assistant-Light.ttf");
    font-display: swap;
}

@font-face {
    font-family: 'Assistant-Bold';
    src: url("fonts/Assistant/Assistant-Bold.ttf");
    font-display: swap;
}

body {
    font-family: Assistant, sans-serif!important;
    color: white!important;
    background-color: rgb(52, 52, 52) !important;
}

a {
    color: white!important;
    text-decoration: none!important;
}

hr {
    border-color: #444444!important;

}

textarea, input, button, .alert, .card, .card-img-top {
    border-radius: 0!important;
}

textarea:focus, input:focus, button:focus {
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,.5) !important;
    border-color: transparent!important;
}

.page__top {
    margin: 0!important;
    position: fixed!important;
    width: 100%;
    z-index: 2;
    background-color: rgb(52, 52, 52);
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.75);
}

.page__top--col {
    height: 76px;
}

.container {
    padding: 0!important;
    margin: 0!important;
    width: 100vw!important;
    overflow-x: hidden!important;
    max-width: 100vw!important;
}

.hamburger-menu-icon div {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
}

/*SIDEBAR STYLE*/

#sidebar {
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background-color: rgb(52, 52, 52);
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

.sidebar__overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.sidebar__header {
    /*padding: 0 40px;*/
    font-weight: bold;
    letter-spacing: .1rem;
}

.sidebar__overlay.active {
    display: block;
    opacity: 1;
}

.sidebar__galleries {
    padding-inline-start: 20px!important;
    margin-top: 1rem!important;
}

.sidebar__li--active {
    font-family: Assistant-Bold, sans-serif!important;
    padding-left: 20px;
}

.sidebar--gallery-change-view {
    font-family: Assistant, sans-serif!important;
    font-size: .8rem;
}

#sidebar ul {
    list-style-type: none;
}

.sidebar__header--mobile {
    position: absolute;
    top: 23px;
    right: 13px;
}


/*MEDIAQUERIES*/

@media only screen
and (max-device-width : 1024px)
and (orientation : landscape) {
    .carousel {
        /*width: calc(100vw - 250px)!important;*/
    }

    .page__top--col {
        height: 1rem;
    }

    .gallery-big {
        margin-top: -1rem!important;
    }
}

@media (min-width: 769px) {
    /*CONTENT ADJUST WHEN SIDEBAR IS EXPANDED*/
    .content {
        margin-left: 250px;
    }
    #sidebar__btn--collapse {
        display: none;
    }

    .bio__img {
    margin: 0!important;
}
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

.sidebar__ul--bottom {
    position: absolute;
    bottom: 40px;
}

.sidebar__ul--bottom ul {
    margin-block-end: 0!important;
    padding-inline-start: 0!important;
}

.sidebar__ul--bottom li {
    margin-top: .5rem;
}

#sidebar__btn--collapse {
    background: rgba(255, 255, 255, .1);
    border: 1px solid white;
    color: white;
    z-index: 100;
}

/*CAROUSEL*/

@media (min-width: 769px)
and (orientation : portrait) {
    .carousel {
        width: calc(100vw - 250px)!important;
        margin-right: 250px;
    }
}


.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}

.carousel-inner {
    /*width: 100vw!important;*/
    /*max-width: 100vw!important;*/
}

.carousel-inner img {
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 90% !important;
    max-height: 90vh!important;
}

.carousel-item {
    height: 100vh;
}

.carousel-control-next, .carousel-control-prev {
    width: 50% !important;
    transition: 300ms;
}

.carousel-control-next > button, .carousel-control-prev > button {
    position: absolute;
}
.carousel-control-next:hover > .arrow, .carousel-control-prev:hover > .arrow {
    opacity: .5;
}

.carousel-control-next > button {
    right: 8vw !important;
}

.carousel-control-prev > button {
    left: 10vw !important;
}


/*ARROW BUTTONS FOR SLIDER*/

.arrow {
    opacity: .1;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -45px;
    margin-left: -35px;
    width: 70px;
    height: 90px;
    background-color: transparent;
    border: none;
    outline: none!important;
    transition: opacity 300ms;
}

.arrow:focus {
    box-shadow: none!important;
}

polyline {
    transition: all 250ms ease-in-out;
}

/*BIO*/

.bio {
    /*margin: 1rem auto!important;*/
    margin: 1rem!important;
    max-width: 1000px;
}

.bio button {
    border-color: white!important;
    background: none!important;
}

.bio__img {
    max-height: 60vh;
    max-width: 100%;
    margin: 0 0 1rem 0;
    background-size: cover;
    background-position: center;
}

.bio__btn:hover {
    background-color: white!important;
    color: black!important;
}

/*MODAL*/

.modal-content {
    border-radius: 0!important;
    background-color: rgb(52, 52, 52) !important;
}

.modal-footer, .modal-header {
    border-color: #444444!important;
}

.modal-header .close {
    color: white!important;
}

/*ALERT*/

.alert {
    margin: 1rem 1rem 0 1rem!important;
}

.alert-success {
    color: #ffffff!important;
    background-color: #006392!important;
    border-color: #444444!important;
}

/*GALLERY BIG*/

.gallery-big {
    margin-top: -76px;
}

/*GALLERY SMALL*/

@media (min-width: 769px) {
    .gallery-small__img--img {
        margin: -10px 0!important;
        width: calc((100% - 250px) / 2);
        height: 40%;
    }
}

@media (max-width: 768px) {
    .gallery-small_img {
        text-align: center!important;
        margin: 1rem!important;
    }
    .gallery-small__img--img {
        margin: 0!important;
        width: 100%;
    }
}

.gallery-small_img--odd {
    text-align: right;
}