{% block sidebar %}
    <nav id="sidebar">
        <div class="sidebar__header">
            <a href="{% url 'galleries-landing' %}" class="h4">jouissance3000</a>
        </div>
        <ul>
            {% if 'bio' in request.path %}
                <li class="sidebar__li--active">
                    <a href="{% url 'infos-bio' %}">Bio / Contact</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'infos-bio' %}">Bio / Contact</a>
                </li>
            {% endif %}

            <li class="sidebar__hr">
                <hr>
            </li>

            {% for cp_gallery in cp_galleries %}
                {% if cp_gallery.id == gallery.pk %}
                    <li class="sidebar__li--active">
                        <a href={% url 'galleries-big' cp_gallery.id %}>
                            <p class="mt-3 mb-0">{{ cp_gallery.title }}</p>
                        </a>
                        {% if 'big' in request.path %}
                            <a href={% url 'galleries-small' cp_gallery.id %}>
                                <p class="sidebar--gallery-change-view">CHANGE VIEW</p>
                            </a>
                        {% else %}
                            <a href={% url 'galleries-big' cp_gallery.id %}>
                                <p class="sidebar--gallery-change-view">CHANGE VIEW</p>
                            </a>
                        {% endif %}
                    </li>
                {% else %}
                    <li>
                        <a href={% url 'galleries-big' cp_gallery.id %}>{{ cp_gallery.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% if cp_socials %}

            <div class="sidebar__ul--bottom">
                <ul>
                    <li class="sidebar__hr">
                        <hr>
                    </li>
                    {% for cp_social in cp_socials %}
                        <li>
                            <a href="{{ cp_social.link }}">{{ cp_social.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </nav>
    <div class="sidebar__overlay"></div>
{% endblock %}